.cast {
  display: grid;
  padding: 30px;
  margin: 0 auto;
  list-style: none;
  max-width: calc(100vw - 64px);
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.cast__link {
  padding: 15px;
}

h4 {
  margin-top: 10px;
}
