.reviews {
  display: grid;
  padding: 30px;
  margin: 0 auto;
  list-style: none;
  max-width: calc(100vw - 64px);
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px;
}

h4 {
  margin: 0;
  font-weight: 900px;
  font-size: 24px;
}

.reviews__link {
  padding: 15px;
  background-color: rgb(110, 109, 109, 0.1);
  color: black;
}
